@tailwind base;
@tailwind components;
@tailwind utilities;


/* fonts */
@font-face {
    font-family: "Lora-Bold";
    src: url("/assets/fonts/Lora-Bold.ttf");
}
@font-face {
    font-family: "Lora-Medium";
    src: url("/assets/fonts/Lora-Medium.ttf");
}
@font-face {
    font-family: "Lora-Regular";
    src: url("/assets/fonts/Lora-Regular.ttf");
}
@font-face {
    font-family: "Lora-SemiBold";
    src: url("/assets/fonts/Lora-SemiBold.ttf");
}
.lora-bold{
    font-family: "Lora-Bold" !important;
}
.lora-medium{
    font-family: "Lora-Medium" !important;
}
.lora-regular{
    font-family: "Lora-Regular" !important;
}
.lora-semibold{
    font-family: "Lora-SemiBold" !important;
}
/* fonts */
/* background */
.dark-bg{
    background-size: 400% 400% !important;
    background:  linear-gradient(-45deg, #3498db, #1d4e80,#3498db,#1d4e80)   ;
    animation: gradient 12s ease infinite !important;
}
@keyframes gradient {
    0% {
        background-position: 0% 50%;
	}
	50% {
        background-position: 100% 50%;
	}
	100% {
        background-position: 0% 50%;
	}
}
/* background */
/* basic */
html{
    height: 100%;
    width: 100%;
    box-sizing: border-box !important;
}
body{
    height: 100%;
    width: 100%;
    box-sizing: border-box !important;
}
#__next{
    height: 100%;
    width: 100%;
}
/* basic */
/* animate on scroll */
.slideLeft{
    transform:translateX(100%);
}
.slideRight{
    transform:translateX(-100%);
}
.slideUp{
    transform:translateY(100%);
}
.slideDown{
    transform:translateY(-100%);
}
.fadeIn{
opacity:0;
}
.zoomIn{
    transform:scale(0);
}
.zoomOut{
    transform:scale(1.1);
}
.slideLeft.animate,
.slideRight.animate,
/* .slideUp.animate,
.slideDown.animate, */
.fadeIn.animate,
.zoomOut.animate,
    .zoomIn.animate{
    transform: translateX(0%) translateY(0%) scale(1) rotate(0deg);
    opacity:1;
    transition: all 0.45s ease-out;
}
/* animate on scroll */
:root{
    --primary-color:#0e204d
}

.header{
    --top:0px;
    position: sticky;
    top:var(--top,0px);
    transition: all ease-out 200ms;
    background:white;
    
}

input,input:focus,input:focus-visible{
    appearance: none;
    outline: none;
}
.link-highlight{
    font-weight: 600 !important;
    color: #2290BA;
    display: flex;
    border-bottom:2px solid #2290BA
}
.appointment-hero-text{
    position: relative;
}
.appointment-hero-text::before{
    position: absolute;
    content: "";
    display: block;
    height:90%;
    width:30%;
    z-index: -1;
    left:-30px;
    top:-30px;
    border-radius: 100vw;
    background:linear-gradient(180deg,#4999fa45 ,rgba(208,229,254,.5) 64%,hsla(0,0%,100%,0));
}
@media screen and (min-width:1560px) {
    .appointment-hero-text::before{
        width: 110%;
        left: -50px;
        top:-60px
    }
}
@media screen and (min-width:1280px) {
    .appointment-hero-text::before{
        height: 110%;
        width: 25%;
    }
}
@media screen and (min-width:550px) and  (max-width:880px){
    .appointment-hero-text::before{
        width: 40%;
    }
}
.four-image-layout div{
    aspect-ratio: 1 !important;
}
.four-image-layout .img-1,.img-4{
    border-radius: 50%;
    overflow: hidden;
}
.four-image-layout .img-2{
    border-radius: 0 50% 50% 50%;
    overflow: hidden;
}
.four-image-layout .img-3{
    border-radius: 50% 50% 0% 50%;
    overflow: hidden;
}
.absolute-center{
    left:50%;
    top:50%;
    transform: translate(-50%,-50%);
}
.zoom-in img{
    transition: all 250ms ease-in;
}
.zoom-in:hover img{
    transform: scale(1.1);
    transition: all 250ms ease-out;
}
.quote-before::before{
    content: "";
    position: absolute;
    display: block;
    background-image: url("/assets/images/testimonial_quote.png");
    height: 60px;
    width: 60px;
    z-index: 0;
    opacity: 0.4;
    left:-10px;
    top:40px;
    background-size: 100% 100%
}
@media screen and (min-width:768px) {
    .quote-before::before{
        top:50px
    }
}
@media screen and (min-width:1024px) {
    .quote-before::before{
        top:60px;
        height: 80px;
    width: 80px;
    }
}